<div th:fragment="footer" class="footer"
	xmlns:th="http://www.w3.org/1999/xhtml">
	<div class="container-fluid">
		<div class="page-footer font-small unique-color-dark mt-3"
			style="background-color: #1c2331; color: white">
			<div style="background-color: #6351ce;">
				<div class="container">
					<div class="row py-4 d-flex align-items-center">
						<div class="col-md-6 col-lg-5 text-center text-md-left  mb-md-0">
							<h6 class="mb-0">Get connected with us on social networks!</h6>
						</div>
					</div>
				</div>
			</div>
			<div class="container text-center text-md-left mt-4">
				<div class="row mt-3">
					<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-3">
						<h6 class="text-uppercase font-weight-bold">Company name</h6>
						<hr class="deep-purple accent-2 mb-1 mt-0 d-inline-block mx-auto"
							style="width: 60px;">
						<p>Shauna Vayne is a deadly, remorseless monster hunter who
							has pledged her life to finding and killing the demon who
							murdered her family.</p>

					</div>
					<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
						<h6 class="text-uppercase font-weight-bold">Products</h6>
						<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
							style="width: 60px;">
						<p>
							<a href="#!">Project Vayne</a>
						</p>
						<p>
							<a href="#!">Soulstealer Vayne</a>
						</p>
						<p>
							<a href="#!">Heartseeker Vayne</a>
						</p>

					</div>
					<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
						<h6 class="text-uppercase font-weight-bold">Useful links</h6>
						<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
							style="width: 60px;">
						<p>
							<a href="#!">Your Account</a>
						</p>
						<p>
							<a href="#!">Become an Affiliate</a>
						</p>
						<p>
							<a href="#!">Shipping Rates</a>
						</p>

					</div>
					<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

						<!-- Links -->
						<h6 class="text-uppercase font-weight-bold">Contact</h6>
						<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
							style="width: 60px;">
						<p>Phương Canh , Nam Từ Liêm , Hà Nội</p>
						<p>Vunt1809@gmail.com</p>
						<p>+ 03 998 203 02</p>

					</div>
				</div>
			</div>
			<div class="footer-copyright text-center py-3"
				style="background-color: #161c27; color: gray">© 2018
				Copyright: Vuntph05748</div>
		</div>
	</div>
</div>
