<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css"
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<!-- CSS Files -->
<link href="/assets/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
<!-- CSS Just for demo purpose, don't include it in your project -->
<link href="/assets/demo/demo.css" rel="stylesheet" />
<link href="/assets/demo/demo.css" rel="stylesheet" />
<link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<header th:fragment="_header" xmlns:th="http://www.w3.org/1999/xhtml">
	
	<nav
		class="navbar fixed-top navbar-expand-lg navbar-light bg-light	 fixed-top">
		<div class="container">
			<a class="navbar-brand" th:href="@{/}">Start Shopping</a>
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<form class="navbar-form">
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">&nbsp;
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
              </div>
            </form>
			


			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li><a th:href="@{/productList}"> Product List </a>|&nbsp;</li>
					<li><a th:href="@{/shoppingCart}"> My Cart </a>|&nbsp;</li>
					<th:block
						sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_EMPLOYEE')">
						<li><a th:href="@{/admin/orderList}"> Order List </a>|&nbsp;</li>
					</th:block>
					<th:block sec:authorize="hasRole('ROLE_MANAGER')">
						<li><a th:href="@{/admin/product}"> Create Product </a>&nbsp;</li>
					</th:block>
					<th:block sec:authorize="isAuthenticated()">
         Hello &nbsp;
         <li><a th:href="@{/admin/accountInfo}"
							th:utext="${#request.userPrincipal.name}">...</a></li>
         &nbsp;|&nbsp;
         <li><a th:href="@{/admin/logout}">Logout</a></li>
					</th:block>

					<th:block sec:authorize="!isAuthenticated()">
						<li><a th:href="@{/admin/login}">Login</a></li>
					</th:block>
				</ul>
			</div>
		</div>
	</nav>
</header>
</html>
