<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Access Denied</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   </head>
    
   <body>
    
      <th:block th:include="/_header"></th:block>

       
      <div class="page-title">Access Denied!</div>
      <h3 style="color:red;">Sorry, you can not access this page!</h3>
       
      <th:block th:include="/_footer"></th:block>
       
   </body>
</html>