<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layouts/_layout}">
<head>
<meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="76x76"
	href="../assets/img/apple-icon.png">
<link rel="icon" type="image/png" href="../assets/img/favicon.png">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Material Dashboard by Creative Tim</title>
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />
<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css"
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<!-- CSS Files -->
<link href="../assets/css/material-dashboard.css?v=2.1.1"
	rel="stylesheet" />
<!-- CSS Just for demo purpose, don't include it in your project -->
<link href="../assets/demo/demo.css" rel="stylesheet" />
</head>
<body>

	<th:block th:include="/_header"></th:block>
	<br>
	<div layout:fragment="content" class="container">

		<br>

		<h1 class="my-4">Welcome to Modern Business</h1>
		<div id="carouselExampleIndicators" class="carousel slide"
			data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0"
					class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
			</ol>
			<div class="carousel-inner">

				<th:block th:each="top5product : ${top5Products}">
					<div class="carousel-item"
						th:classappend="${top5Products.get(0).getId()} == ${top5product.id} ? 'active'">
						<img th:src="@{|/productImage?id=${top5product.id}|}" width="100%"
							height="500px" class="d-block w-100" alt="...">
					</div>
				</th:block>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators"
				role="button" data-slide="prev"> <span
				class="carousel-control-prev-icon" aria-hidden="true"></span> <span
				class="sr-only">Previous</span>
			</a> <a class="carousel-control-next" href="#carouselExampleIndicators"
				role="button" data-slide="next"> <span
				class="carousel-control-next-icon" aria-hidden="true"></span> <span
				class="sr-only">Next</span>
			</a>
		</div>

		<br />

		<h2>Product</h2>
		<div class="row">
			<div class="col-lg-4 col-sm-6 portfolio-item"
				th:each="prodInfo : ${paginationProducts}">
				<div class="card h-100">
					<a href="#"><img class="card-img-top"
						style="width: 60%; padding-top: 20px;"
						th:src="@{|/productImage?id=${prodInfo.id}|}" width="700"
						height="" alt=""></a>
					<div class="card-body">
						<h4 class="card-title">
							<a href="#"><span th:utext="${prodInfo.name}"></a>
						</h4>
						<p class="card-text">
							Price : <span
								th:utext="${#numbers.formatDecimal(prodInfo.price,3,2,'COMMA')}"></span>
						</p>
						<p class="card-text">Mô tả: A product by Digi Dinos</p>
						<p class="card-text">
							<a class="btn btn-info"
								th:href="@{|/buyProduct?id=${prodInfo.id}|}">Buy Now</a> <br />
							<th:block sec:authorize="hasAuthority('ROLE_MANAGER')">
								<a class="btn btn-info"
									th:href="@{|/admin/product?id=${prodInfo.id}|}">Edit
									Product</a>
							</th:block>

						</p>

					</div>
				</div>
			</div>


		</div>
		<br>
		<div th:include="paging"
			th:with="pagination=${pagination},routingName=home"></div>
		<br />

		<div class="row">
			<div class="col-md-8 mb-5">
				<h2>What We Do</h2>
				<hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
					deserunt neque tempore recusandae animi soluta quasi? Asperiores
					rem dolore eaque vel, porro, soluta unde debitis aliquam
					laboriosam. Repellat explicabo, maiores!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Omnis optio neque consectetur consequatur magni in nisi, natus
					beatae quidem quam odit commodi ducimus totam eum, alias, adipisci
					nesciunt voluptate. Voluptatum.</p>
				<a class="btn btn-info" href="#">Call to Action &raquo;</a>
			</div>
			<div class="col-md-4 mb-5">
				<h2>Contact Us</h2>
				<hr>
				<address>
					<strong>Start Bootstrap</strong> <br>3481 Melrose Place <br>Beverly
					Hills, CA 90210 <br>
				</address>
				<address>
					<abbr title="Phone">P:</abbr> (123) 456-7890 <br> <abbr
						title="Email">E:</abbr> <a href="mailto:#">name@example.com</a>
				</address>
			</div>
		</div>

		<!-- /.container -->

		<th:block th:include="/_footer"></th:block>
	</div>
</body>

</html>
