<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layouts/layout}">

<head>
<meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="76x76"
	href="../assets/img/apple-icon.png">
<link rel="icon" type="image/png" href="../assets/img/favicon.png">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Shopping</title>
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />
<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css"
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<!-- CSS Files -->
<link href="../assets/css/material-dashboard.css?v=2.1.1"
	rel="stylesheet" />
<!-- CSS Just for demo purpose, don't include it in your project -->
<link href="../assets/demo/demo.css" rel="stylesheet" />

</head>
<body>
	<th:block th:include="/_header"></th:block>
	<!--  Page Content -->

	<div layout:fragment="content" class="container">
		<div class="container ">
			<br></br>
			<th:block th:include="/_slider"></th:block>
			<br />
			<h2>Product</h2>
			<div class="row">
				<div class="col-lg-4 col-sm-6 portfolio-item"
					th:each="prodInfo : ${paginationProducts}">
					<div class="card h-100">
						<a href="#"><img class="card-img-top" style="width: 60%; padding-top: 20px;"
							th:src="@{|/productImage?id=${prodInfo.id}|}" width="1000"
							height="200" alt=""></a>
						<div class="card-body">
							<h4 class="card-title">
								<a href="#"><span th:utext="${prodInfo.name}"></a>
							</h4>
							<p class="card-text">
								Price : <span
									th:utext="${#numbers.formatDecimal(prodInfo.price,3,2,'COMMA')}"></span>
							</p>
							<p class="card-text">Mô tả: <span th:utext="${prodInfo.description}"></a> </p>
							<p class="card-text">
								<a class="btn btn-info"
									th:href="@{|/buyProduct?id=${prodInfo.id}|}">Buy Now</a> <br />
								<th:block sec:authorize="hasAuthority('ROLE_MANAGER')">
									<a class="btn btn-info"
										th:href="@{|/admin/product?id=${prodInfo.id}|}">Edit
										Product</a>
								</th:block>

							</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div th:include="paging"
				th:with="pagination=${pagination},routingName=productList,routingSearch=${searchName}"></div>
	<div class="row mt-5"></div>


	<th:block th:include="/_footer"></th:block>
</body>
</html>
