<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="76x76"
	href="../assets/img/apple-icon.png">
<link rel="icon" type="image/png" href="../assets/img/favicon.png">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Shopping</title>
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />
<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css"
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<!-- CSS Files -->
<link href="../assets/css/material-dashboard.css?v=2.1.1"
	rel="stylesheet" />
<!-- CSS Just for demo purpose, don't include it in your project -->
<link href="../assets/demo/demo.css" rel="stylesheet" />

</head>
<body><th:block th:include="/_header"></th:block>
	<div class="container">
	<br/><br/>
		<h1>My Cart</h1>

		<th:block
			th:if="${cartForm == null || cartForm.cartLines == null || cartForm.cartLines.empty}">
			<h2>There is no items in Cart</h2>
			<a class="btn btn-info" th:href="@{/productList}">Show Product List</a>
		</th:block>

		<th:block
			th:if="${cartForm != null && cartForm.cartLines != null && !cartForm.cartLines.empty}">
			<form method="POST" th:object="${cartForm}"
				th:action="@{/shoppingCart}">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table">
							<thead class=" text-primary">
								<th>Image</th>
								<th>ID</th>
								<th>Code</th>
								<th>Name</th>
								<th>Price</th>
								<th>Quantity</th>
								<th>Subtotal</th>
								<th>Option</th>
							</thead>
							<tbody>
								<tr th:each="cartLineInfo, varStatus : ${cartForm.cartLines}">
									<td><span><img class="product-image"
											th:src="@{|/productImage?id=${cartLineInfo.productInfo.id}|}" /></span></td>
									<td><span th:utext="${cartLineInfo.productInfo.id}"></span>
										<input type="hidden"
										th:name="|cartLines[${varStatus.index}].productInfo.id|"
										th:value="${cartLineInfo.productInfo.id}" /></td>
										<td><span th:utext="${cartLineInfo.productInfo.code}"></span></td>
									<td><span th:utext="${cartLineInfo.productInfo.name}"></span></td>
									<td>Price: <span class="price"
										th:utext="${#numbers.formatDecimal(cartLineInfo.productInfo.price,3,2,'COMMA')}">
									</span>
									</td>
									<td>Quantity: <input
										th:name="|cartLines[${varStatus.index}].quantity|"
										th:value="${cartLineInfo.quantity}" />
									</td>
									<td>Subtotal: <span class="subtotal"
										th:utext="${#numbers.formatDecimal(cartLineInfo.amount,3,2,'COMMA')}">
									</span>
									</td>
									<td><a class="btn btn-info" 
										th:href="@{|/shoppingCartRemoveProduct?id=${cartLineInfo.productInfo.id}|}">
											Delete </a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div style="clear: both"></div>
				<input class="btn btn-info" 
					type="submit" value="Update Quantity" /> <a
					class="btn btn-info" 
					th:href="@{/shoppingCartCustomer}">Enter Customer Info</a> <a
					class="btn btn-info"  th:href="@{/productList}">Continue
					Buy</a>
			</form>
		</th:block>


	</div>
	<th:block th:include="/_footer"></th:block>



</body>
</html>
