<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="sidebar" data-color="azure" data-background-color="white"
		data-image="../assets/img/sidebar-1.jpg">
		<!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
		<div class="logo">
			<a href="/" class="simple-text logo-normal"> Start Shopping </a>
		</div>
		<div class="sidebar-wrapper">
			<ul class="nav">

				<li class="nav-item "><a class="nav-link" href="./accountInfo">
						<i class="material-icons">person</i>
						<p>User Infomation</p>
				</a></li>


				<th:block sec:authorize="hasRole('ROLE_MANAGER')">


					<th:block sec:authorize="hasRole('ROLE_MANAGER')">
						<li class="nav-item "><a class="nav-link"
							th:href="@{/admin/productManager}"> <i class="material-icons">list</i>
								<p>Product List</p>
						</a></li>
					</th:block>
					<th:block sec:authorize="hasRole('ROLE_MANAGER')">
						<li class="nav-item "><a class="nav-link"
							th:href="@{/admin/accountList}"> <i class="material-icons">person</i>
								<p>Account List</p>
						</a></li>
					</th:block>
				</th:block>



				<li class="nav-item "><a class="nav-link"
					th:href="@{/admin/orderList}"> <i class="material-icons">library_books</i>
						<p>Order List</p>
				</a></li>
				<!-- 
				<li class="nav-item "><a class="nav-link"
							th:href="@{/admin/logout}"> <i class="material-icons">person</i>
								<p>Log out</p>
						</a></li> -->


			</ul>
		</div>
	</div>
</body>
</html>
