<tr>
	<td>ID</td>
	<td style="color: red;"><th:block
			th:if="${!productForm.newProduct}">
			<span th:utext="${productForm.id}"></span>
			<input type="hidden" th:field="{id}" />
		</th:block></td>
	<td><span class="error-message" th:if="${#fields.hasErrors('id')}"
		th:errors="*{id}">..</span></td>
</tr>